<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/cite.css">
  <title>about</title>
</head>
<body>
  <div>
    <a class="nav" href="/">Home</a>
    <a class="nav" href="/about">About</a>
    <!-- <a class="nav" href="/health">Health</a> -->
  </div>

  <h1>
    This is the about page
  </h1>

  <!-- Isaiah's contirubution -->
  <br>
<h4>
  I am not a shepard of the lord's flock, I am one of it's hounds.
</h4>
<br>
<h4>
  I have found the burning bush, and it tells me things I ought to do.
</h4>
<br>
<h4>
  The lord speaks and I must listen
</h4>
<br>
<h4>
  The devil is testing me. I am being tested much like Abraham. The mind is willing to do what must be done to enter The Kingdom. The flesh is willing. The soul falters. 
</h4>
<br><br><br><br>
<h5>
  I      am      not      worthy
</h5>


</body>
</html>