<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/cite.css">
  <title>index</title>
</head>
<body>
  <div>
    <a class="nav" href="/">Home</a>
    <a class="nav" href="/about">About</a>
    <!-- <a class="nav" href="/health">Health</a> -->
  </div>

  <h1>
    This is the index page
  </h1>
  <!-- Start of Isaiah's contribution -->
  <br>
  <h3>
    My name is Grayson Issac Hoff and I am really cool and everybody wants to be my friend due to the natural charisma I exude whilst meeting new people. 
  </h3>
  <br>
  <h4> 
    One time, last semester, Mckenna and I were studying together. Suddenly, she reached into her backpack and pulled out what looked like a mouse or some other small rodent. She then unhinged her jaw unnaturally and ate the poor creature whole. She looked me in the eyes and said "Go ahead, tell the others. They won't believe you." and then went back to work. 
  </h4>
  <br>
  <h4>
    Since then, at 6:33am every Saturday she waits outside my window. She wants blood. She needs blood. I must provide her with a plate of 13 small creatures. She likes it when they are still alive, but not moving. I think she doesn't want to chase them, but still gets a sadistic joy out of ending their lives. 
  </h4>
  <br>
  <h4>
    She requires me to both measure them as well as give them names. I believe this is an attempt of psychological warfare. She wants me to get attached. And it's working. I love them each individually. I am filled with abject horror every time she engulfs one of the new found friends.
  </h4>

  <!-- End of Isaiah's contribution -->
</body>
</html>