<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SUS</title>
</head>
<body>

  <h1>Warning! <br> This page has high amounts of sus. Click the link below if you want to continue,
    beware the lethal amounts of sus.
  </h1>
  
  <a href="/dangerSus">DANGERSUS</a>
  
</body>
</html>